*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

main {
  margin: 5rem;
  padding: 2rem;
  background-color: lightgrey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  min-width: 290px;
  min-height: 450px;
}

.round {
  text-align: center;
}

.letter-btn {
  margin: 0.3rem;
  border-radius: 50%;
  padding: 0.5rem 0.8rem;
  height: 3rem;
  width: 3rem;
  font-weight: 700;
  color: green;
  border: none;
  border: 2px solid green;
  background-color: lightgreen;
}

.letter-btn:disabled {
  background-color: gray;
  color: rgb(57, 55, 55);
  border: 2px solid rgb(57, 55, 55);
}

.play-btn {
  border-radius: 3px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: lightskyblue;
  width: 100%;
  color: blue;
  font-weight: 700;
  text-transform: uppercase;
}

.output {
  background-color: whitesmoke;
  height: 4rem;
  width: 100%;
  margin: 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.border-bottom {
  display: inline;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  margin: 0.5rem;
}

.letter {
  font-weight: 700;
}

.letter-invisible {
  color: transparent;
}

.round {
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.win-output {
  font-size: 1.5rem;
  background-color: lightgoldenrodyellow;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.5;
}
